{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="h-full mt-7 pt-2 ">
        <div class="w-full flex justify-center">                  
            <form method="get" class="relative" id="rightnavsearchform">
                <input type="text" 
                placeholder="Search"
                name="query"
                data-content="search"
                id="rightnavsearchButton"
                class="active text-[#0d2438] dark:text-gray-300 bg-transparent border-2 bg-0 outline-none border-[#0d2438] dark:border-gray-300 rounded-xl pl-3 h-[28px] ">
                <div id="rightnavsearchicon" class="absolute w-fit top-0 right-2" style="top: 2px;">
                    <i  class="fa fa-search text-[#0d2438] dark:text-white cursor-pointer" aria-hidden="true"></i>
                </div>               
            </form>            
        </div>

        <div id="allrightnavsuggestions" class="w-full mt-4" style="margin-top: 3rem;">
            <p class="text-[#0d2438] dark:text-white text-center my-8">Suggestions</p>
            <div  class="w-full flex flex-col justify-center items-center">                                
                <div id="suggestions" class="w-full flex flex-col justify-center items-center gap-4">                                
                </div>
            </div>

            <a href="{% url 'find_friends_templates' %}" class="w-full flex justify-center items-center mt-2">
                <p class="w-3/4 text-[#0d2438] dark:text-white mt-4 text-center border border-green-600 hover:bg-green-600 hover:text-white py-2 rounded-xl">See all </p>
            </a>
        </div>

        <div id="rightnavParent" class="hidden w-full">
            <div id="rightnavcancel" class="w-full flex justify-end mt-3  pr-2 cursor-pointer">
                <i  class="fa-solid fa-xmark text-red-600"></i>
            </div>
            <div id="rightnavsearch" class="w-full mt-4 hidden text-center text-[#0d2438] dark:text-gray-300">
            Searching...
            </div>
            <div id="rightnavsearch2" class="w-full mt-4 text-center text-[#0d2438] dark:text-gray-300 flex flex-col justify-center items-center gap-4">
                hyfhdjdj
            </div>
        </div>
        <script src="{% static 'usedJsCode/rightnav.js' %}"></script>
    </div>


</body>
</html>