{% extends 'base.html' %} 
{% load static %}   


{% block title %}
<title>Post </title>
{% endblock title %}

{% block static %}
 <link rel="stylesheet" href="{% static 'css/overflowMessage.min.css' %}">
{% endblock static %}


{% block content %}

<div class="w-full h-comment bg-base-lightbg dark:bg-base-darkbg ">
        <div class="w-full h-fit" style="box-shadow: 0 0 10px rgba(13, 19, 26, 0.5);">                                 
            <div class="pb-2 lg:max-w-[300px] pt-2 mx-4">
                <div class="h-fit flex items-center gap-4 px-6">
                    <img src="{{grouppost.author.prof_pics.url}}" class="rounded-full" style="width: 35px; height: 35px;">
                    <div class="text-green-300">{{ grouppost.author.username }}</div>
                </div>
                <div class="px-8 mt-3 text-[#0d2438] dark:text-gray-300">
                    {{ grouppost.content }}
                </div>
                <p style="display: none;" data-content="{{grouppost.slug}}" id="comment-id"></p>
            </div>
            <div class="pb-6 pl-8">
                {% if grouppost %}
                <img src="{{grouppost.file.url}}" alt="" class="object-contain object-center rounded-lg w-[80%] text-center rounded-xl md:w-[80%] h-[300px] md:h-[400px]">  
                {% endif %}
                <div id="generalcomments" class=" float-right mr-4">
                    <i  class="fa fa-comments text-[#0d2438] dark:text-white cursor-pointer" aria-hidden="true"></i>
                </div>
            </div>
        </div> 
        
        <div id="commentstore" class="h-[26%]  md:h-[55%]" style=" overflow-y: scroll;">
            {% for i in groupcomments  %}
                <div class="grid pl-4">
                    <div class="w-fit flex text-center mt-7">
                        <img src="{{i.comment_author.prof_pics.url}}" class="rounded-full" style="width: 35px; height: 35px;">
                        <div class="text-green-500 dark:text-green-300 ml-2">{{ i.comment_author.username }}</div>
                    </div>

                <div class="h-fit w-fit bg-base-lightbgvariant dark:bg-base-darkbgvariant shadow-lg hover:shadow-xl rounded-xl" style="margin-left: 2.5rem;">
                    <div class="text-[#0d2438] dark:text-gray-300 px-4 py-4">{{i.comments}}</div>
                </div>
                {% if i.comment_pics %}
                <img src="{{i.comment_pics.url}}" alt="" class="object-contain object-center rounded-lg w-[80%] text-center rounded-xl md:w-[80%] h-[300px] md:h-[400px]">  
                {% endif %}
                <div class="postrepliesparent px-8 flex gap-4 items-center" style="padding-top: 4px; margin-left: 0.8rem;">
                    <i class="fa fa-heart text-[#0d2438] dark:text-white cursor-pointer" aria-hidden="true"></i>
                    <div class="postreplies" data-content="{{i.id}}"><i class="fa fa-comments text-[#0d2438] dark:text-white cursor-pointer" aria-hidden="true"></i></div>
                    {% if i.replies.all %}
                    <button><p id="more-replies" data-content="{{i.id}}" class="text-white cursor-pointer" style="font-size: 13px;">view more replies</p></button>
                    {% endif %}
                </div>    
                </div>
            {% endfor %}
        </div>
        
        <form method="POST" id="commentform" enctype="multipart/form-data" class="fixed hidden inset-0 z-50  md:left-[27%] md:w-[69%] lg:left-[21%] lg:w-[69%] xl:left-[18%]  xl:w-[60%] ">
            {% csrf_token %} 
            <div class="w-full h-fit dark:bg-base-darkbg absolute  bg-base-lightbg text-center py-4 bottom-0">
                <div id="commentcancel" class="float-right text-red-600 cursor-pointer mr-4">X</div>
                <div id="input" class="mt-4  ml-6" style="width: 90%; display: flex; gap: 8px;">
                    <input id="commentmessage" type="text" placeholder="type..." class="bg-transparent outline-none border pl-3 h-[50px] rounded-xl dark:text-white" style="width: 80%;">
                    <div  class=" text-[#0d2438] dark:text-white cursor-pointer" id="comment-submit" style="display:flex; flex-direction: column; margin-top: 0.6rem;">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <input  class="cursor-pointer" type="button" value="Send">
                    </div>
                </div>
            </div> 
        </form>
        
        
</div> 

<script>
    const commentstore=document.querySelector("#commentstore");$(document).ready(function(){$("#comment-submit").on("click",function(){let e=$("#commentmessage").val(),c=$("#comment-id").data("content"),o=new FormData;o.append("csrfmiddlewaretoken","{{ csrf_token }}"),o.append("comments",e),$("#comment_pics")[0]&&o.append("comment_pics",$("#comment_pics")[0].files[0]),$.ajax({method:"POST",url:"/group/comment/save/"+c+"/",data:o,processData:!1,contentType:!1,success:function(e){window.location.reload()},error:function(e){alert(e)}})}),document.querySelector("#generalcomments").onclick=function(){document.querySelector("#commentform").style.display="block",document.querySelector("#commentmessage").focus()},document.querySelector("#commentcancel").onclick=function(){document.querySelector("#commentform").style.display="none"}});
</script>>

{% endblock content %}